{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
	<div>
		<h1>Search Cars by Identification</h1>
		<form action="/results/cars" method="GET">
			<input type="text" name="make" value="Make">
			<input type="text" name="model_year" value="Model - Year">
			<input type="text" name="id" value="ID">
			<input type="text" name="classification" value="Classification">
			<input type="text" name="year" value="Year">
			<input type="submit" value="Submit">
		</form>
	</div>

{% endblock %}